<div class="container-fluid">
   
    <form id="formBuscar">
    <div class="row">    
        <div class="col-md-5 col-xs-12">
        <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span id="search_concept">Buscar por:</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#num_cuenta">Número de Cuenta</a></li>
                      <li><a href="#clientes">Nombre</a></li>
                      <li><a href="#fijo">Teléfono Fijo</a></li>
                      <li><a href="#movil">Celular</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param"  value="clientes" id="search_param"> 
                <input type="hidden" name="id_cliente" id="input-id">
                <input type="text" class="form-control" name="palabra_buscada"  ng-model="busqueda.query" id="buscar-input" placeholder=" " required> 
                <span id="buscarBtn" class="input-group-btn" data-toggle="tooltip"  data-placement="top" title="Presiona aquí">
                    <button class="btn btn-default" type="submit" value="Submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>

  </div>
</form>
    <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4  contedor-espacio">
             <h2 class="md-title">Información cliente</h2>
             <h3 class="md-subhead"><strong>Nombre</strong></h3>
             <h3 class="md-subhead">{{usuario.nombre}}</h3>
             <h3 class="md-subhead"><strong>Teléfono casa</strong></h3>
             <h3 class="md-subhead">{{usuario.telefono_fijo}}</h3>
             <h3 class="md-subhead"><strong>Teléfono celular</strong></h3>
             <h3 class="md-subhead">{{usuario.telefono_movil}}</h3>
          
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8  contedor-espacio">
             <h3 class="md-title">Gestiones</h3> 
                                        
                                    <h3 class="md-subhead"><strong>Información del crédito</strong></h3>
                                    <h3 class="md-subhead rojo"><strong>Monto</strong></h3>
                                    <h3 class="md-subhead">{{usuario.monto_adicional|currency}}</h3>
                                    <h3 class="md-subhead rojo"><strong>Pagos</strong></h3>
                                    <h3 class="md-subhead">{{usuario.periodicidad}}</h3>
                                    <a  class="btn btn-primary pull-left" ng-click="iniciarLlamada(usuario.id_cliente)">INICIAR LLAMADA</a>
                       
                     
              </div>
            </div>      
         </div>

            
                      
       
