<div class="row"  ng-hide="loaded">
              <div class="centro-loader">
                  <img src="dist/img/spin.svg" alt="progress" />
               </div>
 </div>
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div  class="row animated fadeIn" ng-show="loaded" ng-cloak>
        
          <div class="col-md-12">
                 <div class="box box-primary" ng-cloak>
                <div class="box-header with-border">
                    <h3 class="box-title">Información general</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
               <div class="box-body">
                   <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{info._asignadas}}</h3>

              <p>Asignadas</p>
            </div>
            <div class="icon">
              <i class="fa fa-database"></i>
            </div>
              <a href="#/" class="small-box-footer">Descargar reporte <i class="fa fa-download"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{info._citas}}</h3>
              <p>CITAS</p>
            </div>
            <div class="icon">
              <i class="fa fa-calendar"></i>
            </div>
              <a href="http://www.sistema-siaisa.net/reporte.php?tipo=citas" class="small-box-footer">Descargar reporte <i class="fa fa-download"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{info._contactadas}}</h3>

              <p>Contactos</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="../reporte.php?tipo=citas" class="small-box-footer">Descargar reporte <i class="fa fa-download"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{info._llamadas}}<sup><small style="color: white">Cola ({{info._cola}})</small></sup></h3>

              <p>Llamadas </p>
            </div>
            <div class="icon">
              <i class="fa fa-phone"></i>
            </div>
            <a href="#" class="small-box-footer">Descargar reporte <i class="fa fa-download"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue-active">
            <div class="inner">
              <h3>{{info._fuera_servicio}}</h3>

              <p>Fuera servicio, No vive ahí, etc.</p>
            </div>
            <div class="icon">
              <i class="fa fa-sign-out"></i>
            </div>
            <a href="http://www.sistema-siaisa.net/reporte.php?tipo=fuera" class="small-box-footer">Descargar reporte <i class="fa fa-download"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{info._invalidos}}</h3>

              <p>Invalidos</p>
            </div>
            <div class="icon">
              <i class="fa fa-ban"></i>
            </div>
            <a href="http://www.sistema-siaisa.net/reporte.php?tipo=invalidos" class="small-box-footer">Descargar reporte<i class="fa fa-download"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>{{info._quejas}}</h3>
              <p>Quejas</p>
            </div>
            <div class="icon">
              <i class="fa fa-thumbs-o-down"></i>
            </div>
            <a href="http://www.sistema-siaisa.net/reporte.php?tipo=quejas" class="small-box-footer">Descargar reporte <i class="fa fa-download"></i></a>
          </div>
        </div>
               </div>
       </div>
          </div>
          
        
        
      </div>

      <!-- /.row -->
      <!-- Main row -->
      <div class="row animated fadeIn" ng-show="loaded" ng-cloak>
          <div class="col-md-12">
             <div class="box box-primary" ng-cloak>
               <div class="box-header with-border">
                  <h3 class="box-title">Filtrar por fecha</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                    <!-- Date range -->
                    <div class="form-group col-md-8">

                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                          <input type="text" class="form-control pull-right" value="" placeholder="Ingresa fecha de filtro" id="filtro">
                      </div>           
                      <!-- /.input group -->
                    </div>
              <!-- /.form group -->
                </div>
             </div>
          </div> <!--Col-md-12-->
          <div class="col-md-7">
              <div class="box box-primary" ng-cloak>
                <div class="box-header with-border">
                  <h3 class="box-title">Grafica</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                  <canvas id="bar"  class="chart chart-bar animacion"
                                    chart-data="data" chart-labels="labels"  chart-series="series">
                        </canvas> 
                  </div>
                </div>
                <!-- /.box-body -->
          </div>
          </div>
          
         <div class="col-md-5">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Contactación</h3>
			    <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Agente</th>
                  <th>Llamadas</th>
                  <th>Contactos</th>
                  <th>Citas</th>
                </tr>
               <tbody>
                          <tr ng-repeat="agente in list_monitoreo">
                            <td>{{$index+1}}</td>
                            <td>{{agente.nombre|uppercase}}</td>
                            <td>{{agente.total_contactados}}</td>
                            <td>{{agente.contactados}}</td>   
                            <td>{{agente.citas}}</td>
                         </tr>
                         <tr>
                            <td></td>
                            <td><strong>TOTAL:</strong></td>
                            <td><strong>{{total_llamadas}}</strong></td>
                            <td><strong>{{total_contactados}}</strong> </td> 
                            <td><strong>{{total_citas}}</strong></td>
                        </tr>
                      </tbody>
              </table>
            
                
               </div>
            </div>
          </div>
          
      <!-- /.row (main row) -->
<div class="col-md-7">
              <div class="box box-primary" ng-cloak>
                <div class="box-header with-border">
              <h3 class="box-title">Otras Financieras</h3>
          <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
            </div>
         <div class="box-body">
                
                   
                    <div class="col-md-12 col-sm-12 no-padding">
                    <canvas id="bar" class="chart chart-bar"
                                chart-data="data_financiera" chart-labels="labels_financiera" chart-options="options_financiera" >
                    </canvas> 
                    </div> 
               
                     </div>
                  </div>
           </div>

    <!-- /.content -->
<div class="col-md-5">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Calificaciones.</h3>
          <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           
              <div class="col-md-12 col-sm-12 col-xs-12">
            
                          
                          <div class="col-md-12 no-padding">
                              <canvas id="base" class="chart-horizontal-bar"
                                chart-data="data_cal" chart-labels="labels_cal" chart-options="options" >
                              </canvas> 
                          </div>
            
                
               </div>
            </div>
          </div>
</div>
<div class="col-md-7">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Motivo de no contacto</h3>
          <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           
              <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-12 no-padding">
                              <canvas id="bar" class="chart chart-bar"
                                chart-data="data_motivo" chart-labels="labels_motivo" chart-options="options_motivo" >
                              </canvas> 
                          </div>
                          
                       
            
                
               </div>
            </div>
          </div>
</div>
    </section>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
