<!DOCTYPE html>
<html ng-app="dashboardApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIAISA-sistema</title>
    <!-- Tell the browser to be responsive to screen width -->
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!--Animate css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">

    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">


    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
  -->
    <link rel="stylesheet" href="dist/css/skins/skin-blue.css">

    <link rel="stylesheet" href="dist/css/custom.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/5.2.1/sweetalert2.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-blue sidebar-mini" ng-controller="dashboardCtrl">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>S</b>A</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>SIAISA</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>

                        </li>
                        <!-- /.messages-menu -->

                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning ng-cloak animated fadeIn">{{notificaciones.length}}</span>
                            </a>
                            <ul class="dropdown-menu animted fadeInUp">
                                <li class="header">Tienes {{notificaciones.length}} notificaciones</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li ng-repeat="notificacion in notificaciones">
                                            <a href="#">
                                                <i class="fa fa-calendar text-yellow"></i>({{notificacion.total}}) {{notificacion.texto}}
                                                <small>
                            {{notificacione.fecha|date}}
                        </small>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#/" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>

                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="../img/logo-siaisa.png" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">{{usuario.nombre_usuario|uppercase}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="../img/logo-siaisa.png" class="img-circle" alt="User Image">
                                    <p>
                                        {{usuario.nombre_usuario|uppercase}}
                                        <small><strong>último inicio sesión</strong></small>
                                        <small>{{usuario.ultimo_inicio|date}}</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a ng-click="onSalir()" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <!-- <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../img/logo-siaisa.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>{{usuario.nombre_usuario|uppercase}}</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> en linea</a>
                    </div>
                </div>


                <form class="sidebar-form">
                    <label style="color: white;border: none">Cargar panel de</label>
                    <select id="cargar" ng-model="currentPage" ng-change="onMenuChange()" class="form-control">
              <option ng-if="usuario.nivel_acceso!=3" value="/" ng-selected="true">PRECALIFICADOS</option>
              <option ng-if="usuario.nivel_acceso!=3" value="/encuesta">ENCUESTA</option>
              <option ng-if="usuario.nivel_acceso!=3" value="/email">EMAILING</option>
              <option value="/sms">SMS</option>
          </select>
                </form>
                <!-- /.search form -->

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">Opciones</li>

                    <li class="treeview" ng-if="usuario.nivel_acceso!=3">
                        <a><i class="fa fa-angle-down"></i> <span>PRECALIFICADOS</span>
          </a>
                        <ul class="treeview-menu">
                            <li><a href="../pre-calificados/">Iniciar llamada</a></li>
                            <li><a href="http://precalificado-busqueda.azurewebsites.net/">Busqueda</a></li>
                            <li><a href="../reporte.php?tipo=generalPre">Reporte general</a></li>
                        </ul>
                    </li>


                    <li class="treeview" ng-if="usuario.nivel_acceso!=3">
                        <a><i class="fa fa-angle-down"></i> <span>ENCUESTAS</span>
          </a>
                        <ul class="treeview-menu">
                            <li><a href="../encuesta/">Iniciar llamada</a></li>
                            <li><a href="#/busqueda-encuesta">Busqueda</a></li>
                            <li><a href="http://www.sistema-siaisa.net/reporte.php?tipo=final">Reporte general</a></li>
                        </ul>
                    </li>

                    <li class="treeview" ng-if="usuario.nivel_acceso!=3">

                        <a><i class="fa fa-angle-down"></i> <span>EMAILING </span>
          </a>
                        <ul class="treeview-menu">
                            <li><a href="../respuesta/index.php">Bandeja de entrada</a></li>
                            <li><a href="../layout/">Cargar layout</a></li>
                            <li><a href="../envio/">Enviar email</a></li>
                            <li><a href="../reporte.php?tipo=ReporteGeneral&amp;id_segmento=1">Reporte general</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a><i class="fa fa-angle-down"></i> <span>SMS</span>
          </a>
                        <ul class="treeview-menu">
                            <li><a href="#/sms/carga">Cargar layout</a></li>
                        </ul>
                    </li>

                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="alert alert-info alert-dismissible animated fadeIn">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-info"></i>¡Actualización!</h4>
                Ahora funciona en chrome y ya no hay más errores al guardar citas!
            </div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Panel de información
                    <small>siaisa</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>Panel</a></li>
                    <li class="active">Encuesta</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">


                <div ng-view></div>


            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">

            </div>
            <!-- Default to the left -->
            <!-- <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.-->
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                  <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.2.3 -->
    <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
      <!--Jquery UI-->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  
    <!-- AdminLTE App -->
    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="dist/js/app.min.js"></script>
    <script src="dist/js/angular.min.js"></script>
    <script src="dist/js/angular-route.min.js"></script>
    <script src="dist/js/Chart.min.js"></script>
    <script src="http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/sweetalert2/5.2.1/sweetalert2.min.js"></script>
    <script src="../js/angular/controladores/menuCtrl.js?id=1.1"></script>

    <!--SCRIPT CHAT ¿REALMENTE LO NECESITMOS?-->
    <!--<script type="text/javascript" src="https://slick.chat/dontcomplainjustwork/58042f6995d1aca6079602e9/frontendscript.js"> </script> -->

</body>

</html>
