<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app">
    <head>
        <title>PRE CALIFICADOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css?id=1">
        <link rel="stylesheet" href="../css/animate.css">
        <link rel="stylesheet" href="../css/notiny.min.css">
        <link rel="stylesheet" href="../css/rome.css">
        <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body ng-controller="encuestaCtrl">
    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="modalReporte" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registro guardado</h4>
                </div>
                   <div class="modal-body">
                       <h3 class="md-subhead">LLEVAS <span class="rojo">{{contactacion._citas}}</span> CITAS</h3>
                    <h3 class="md-subhead">HAS CONTACTADO A <span class="rojo">{{contactacion._contactos}}</span> DE <span class="rojo">{{contactacion._llamadas}}</span></h3>
                    <h3 class="md-subhead">TU PORCENTAJE DE CONTACTACIÓN ES DEL <span class="rojo">{{(contactacion._contactos*100)/contactacion._llamadas|number:1}}%</span> </h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{(contactacion._contactos*100)/contactacion._llamadas|number:1}}%">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"  class="btn btn-red" data-dismiss="modal" ng-click="reloadPage()">SIGUIENTE LLAMADA</button>
                </div>

            </div>

        </div>
    </div>
    
    
     <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-cloak ng-show="angularLoaded" class="navbar-brand animacion" href="#"><span><img src="../img/logo-siaisa.png" width="35" height="35"/></span>{{agente.nombre_usuario|uppercase}}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../logout.php">CERRAR SESIÓN</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden">
                    <li>
                        <a data-toggle="modal" data-target="#modalReporte" id="contactacion"></a>
                        <a data-toggle="modal" data-target="#modalNoClientes" id="noClientes"></a>
                     </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../menu.php">REGRESAR</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fluid">
      <div class="centro-loader" ng-hide="angularLoaded">
          
        </div>
        <div  ng-show="angularLoaded" ng-cloak class="row animacion-loaded principal-row">
            <div class="col-md-5 col-sm-5 col-xs-5">
                 <h2 class="md-title">Información del candidato</h2>
                <dl>
                    <dt>Canal</dt>
                            <dd class="rojo">{{cliente.canal}}</dd>
					<dt>Folio</dt>
                                        <dd class="rojo">{{cliente.folio}}</dd>
					<dt>Nombre</dt>
					<dd>{{cliente.nombre}}</dd>
					<dt>Celular</dt>
					<dd>
                                             {{cliente.tel_celular}}
					</dd>
                                        <dt>Opcional</dt>
					<dd>
                                            {{cliente.tel_1}}
                                            {{cliente.tel_2}}
                                            {{cliente.tel_3}}
                                            {{cliente.tel_celular}}
                                        </dd>
                                        <dt>Codigo postal</dt>
                                        <dd>{{cliente.cp}}</dd>
                                        <dt>Sucursal</dt>
                                        <dd>
                                        <select class="form-control" ng-model="cliente.sucursal" ng-options="x  for x in surcursales">
                                        </select>
                                        </dd>
                                      
                </dl>
            </div>
        
        
                
               <div class="col-md-7 col-sm-7 col-xs-7">
                <h3 class="md-title">Información de llamada</h3>
                <br>
                <form>
                    <div class="form-group">
                        <label>MARCANDO A</label>
                        <br>
                        <select ng-model="bitacora.id_tipo_llamada" class="form-control form-control-shadow" ng-change="tipoChange()">
                            <option value="1">Celular</option>
                            <option value="2">Casa</option>
                        </select>
                    </div>
                    <br>
                    <label>ESTATUS LLAMADA </label>
                    <br>
                    <select ng-show="bitacora.id_tipo_llamada" ng-model="bitacora.id_status_llamada" class="form-control form-control-shadow animacion" ng-change="statusChange()">
                        <option ng-value="1">Contestan</option>
                        <option ng-value="2">No contestan</option>
                        <option ng-value="3">Teléfono Inválido</option>
                        <option ng-value="4">Fuera de Servicio</option>
                        <option ng-value="5">Buzón de Voz</option>
                    </select>



                </form>
            </div>
            <div class="row contedor-espacio animacion" id="presentacion" ng-show="bitacora.id_status_llamada==1" ng-cloak>
            <div class="col-md-12">
                <h2 class="md-title">PRESENTACIÓN</h2>
                <h3 class="md-subhead">Buenos días, mi nombre es <strong>{{agente.nombre_usuario|uppercase}}</strong> hablo de  parte de Financiera Ayudamos. </h3>
                <h3 class="md-subhead">¿Con quíen tengo el gusto?</h3>
                <div class="col-md-12" style="margin-left: -30px;">
                    <div class="col-md-12" style="margin-left: -10px;">
                        <form>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <input type="text" ng-model="datalleContacto.interlocutor_nombre" class="form-control form-control-shadow" placeholder="Nombre" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <input type="text" ng-model="datalleContacto.interlocutor_paterno" class="form-control form-control-shadow" placeholder="Paterno" />
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <input type="text" ng-model="datalleContacto.interlocutor_materno" class="form-control form-control-shadow" placeholder="Materno" />
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-12">
                        <h3 class="md-subhead">¿Has contactado a <strong>{{cliente.nombre}} {{cliente.paterno}}  {{cliente.materno}}</strong>?</h3>
                        <div class="col-md-12">
                            <label class="radio-inline">
                                <input  ng-value="true" type="radio"  name="contacto" ng-click="onContacto()">SI
                            </label>
                            <label class="radio-inline">
                                <input  ng-value="false" type="radio" name="contacto"  ng-click="onContactoNo()">NO
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                      <div id="motivo_no_contacto" ng-show="opcion.contactoOpcion==false" class="col-md-12 animacion">
                        <div class="form-group">
                            <h3 class="md-subhead">Motivo de no contacto</h3>
                            <select ng-model="datalleContacto.id_motivo_no_contacto" ng-change="isActivo=true" class="form-control form-control-shadow">
                                <option value="1">No se encuentra/Recado</option>
                                <option value="2">No lo conocen</option>
                                <option value="3">Ya no vive ahí</option>
                                <option value="4">Falleció</option>
                                <option value="5">Cliente molesto</option>
                                <option value="6">Contesta menor de edad</option>
                                <option value="7">No localizable en horario</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    
             
                    <br>
                    <div id="script_credito" ng-show="opcion.contactoOpcion==true" class="col-md-12   animacion">
                        <h2 class="md-subhead">Hola, mi nombre es <strong>{{agente.nombre_usuario|uppercase}}</strong>, el motivo de la llamada
es para dar seguimiento a la promoción de un prestamo que hace unos dias le hicimos llegar.

Nos gustaría confirmar la sucursal que le queda mas cercana para agendar una cita, la promoción es valida hasta
el 30 de Septiembre del 2016.</h2>
                         <h3 class="md-subhead"><strong>¿Qué día podremos esperarlo?</strong></h3>
                         <select class="form-control" ng-model="interes_credito.tipo"  ng-change="onInteresariaCredito()" >
                                            <option ng-value="1">SI</option>
                                            <option ng-value="2">LO VA A PENSAR</option>
                                            <option ng-value="3">SIN COMPROBANTE DOMICILIO</option>
                                            <option ng-value="4">YA ACUDIO A LA SUCURSAL</option>
                                            <option ng-value="0">NO INTERESADO</option>
                                          
                                     </select>
                        <div class="col-md-12 no-padding">
                           
                            <!--ng-show=<"propuestaOpcion=='true'"-->
                        
                            <div id="informacion_credito"  class="contenedor-espacio animacion">
                        
                                
                                <div ng-show="interes_credito.tipo" class="col-md-12 col-sm-12 col-xs-12 no-padding">
                              
                                    <!--Opcion si en le interesa tomar credito? -->
                                    <div class="row" ng-cloak ng-show="interes_credito.tipo==1 || interes_credito.tipo==2" id="cita">
                                        <div class="col-md-12">
                                            <h3 class="md-subhead">
                                                <strong ng-if="interes_credito.tipo==1">AGENDAR CITA</strong>
                                                <strong ng-if="interes_credito.tipo==2">¿QUE OTRO DIA LO PODRIA CONTACTAR?</strong>
                                            </h3>
                                            <h3 ng-if="interes_credito.tipo==1" class="md-subhead">¿Qué día podemos esperarlo? {{fecha_cita}}</h3>
                                            <h3 ng-if="interes_credito.tipo==2" class="md-subhead">Me podría indicar que dia lo puedo contactar</h3>
                                            <input id='inputCita1' ng-show="interes_credito.tipo==1"  ng-model="interes_credito.agendar_cita" class='input form-control'  />
                                            <input id='inputContacto' ng-show="interes_credito.tipo==2" class='input form-control'/>
                                        </div>
                                        <div class="col-md-12" ng-if="interes_credito.tipo==1">
                                            <h3 class="md-subhead">Lo esperamos en la sucursal <strong>{{cliente.sucursal}}</strong></h3>
                                            <h3 class="md-subhead">Recuerde llevar la documentación necesaria</h3>
                                            <ul>
                                                <li>Identificación Oficial</li>
                                                <li>Comprobante de Domicilio</li>
                                                <li>Comprobante de Ingresos (FORMERS)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                
                                </div>
                                   <div class="row" ng-cloak ng-show="interes_credito.tipo==0" id="manejo_objeciones">
                                        <div class="col-md-12">
                                            <div id="no_interesado" class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12 col-xs-12 no-padding">
                                                        <h3 class="md-subhead"><strong>Manejo de Objeciones</strong></h3>
                                                        <h3 class="md-subhead">Podría ayudarme a mejorar nuestro servicio indicándome ¿Cuál fue el motivo por el que no está interesado en renovar su crédito?</h3>
                                                        <select ng-model="interes_credito.manejo_objecion" ng-change="onManejoObjeciones()" class="form-control form-control-shadow">
                       
                                                            <option ng-value="1">Mayor tiempo para pagar</option>
                                                            <option ng-value="2">Necesita más dinero</option>
                                                            <option ng-value="3">Los intereses son altos</option>
                                                            <option ng-value="4">Mal servicio en sucursal</option>
                                                            <option ng-value="5">La mensualidad es muy alta</option>
                                                            <option ng-value="6">No le interesa</option>
                                                            <option ng-value="7">No lo necesita</option>
                                                            <option ng-value="8">Está pagando otro crédito (FINAYUDAMOS)</option>
                                                            <option ng-value="9">Está pagando otro crédito (OTRO)</option>
                                                            <option ng-value="10">Lo va a pensar</option>
                                                            <option ng-value="11">Luego pasa a la sucursal</option>
                                                            <option ng-value="12">No tiene su identificación actualizada/extraviada</option>
                                                            <option ng-value="13">No tiene para pagarlo</option>


                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
         </div>
                
                
                    
                </div>
                
           <div class="row no-padding" ng-show="angularLoaded" ng-cloak>
                <div class="col-md-7 col-xs-12">

                    <label class="md-subhead"><strong>NOTAS</strong>
                    </label>
                    <textarea ng-model="bitacora.notas" class="form-control-shadow-text-area" style="width: 100%;background:#ecf0f" rows="3" placeholder="ESCRIBE AQUÍ LAS NOTAS"></textarea>
                    <div class="col-md-6 pull-right">
                        <input type="submit" value="Guardar" ng-click="guardarLlamada()" ng-disabled="isDesActivado" class="btn btn-red" />
                    </div>

                </div>
                <div class="col-md-5 col-xs-12 padding-top">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                          Historial Llamadas ({{historial.length}})</a>
                        </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Agente</th>
                                                    <th>Marco</th>
                                                    <th>Fecha/Hora</th>
                                                    <th>Status</th>
                                                    <th>Notas</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="h in historial">
                                                    <td>{{h.agente|uppercase}}</td>
                                                    <td>{{h.tipo_llamada==1? "CELULAR":"CASA"}}</td>
                                                    <td>{{h.inicio}}</td>
                                                    <td>{{h.status|uppercase}}</td>         
                                                    <td>{{h.notas}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

     </div>
             
   
     
    <script src="../js/vendor/wow.min.js"></script>
    <script src="../js/vendor/jquery-1.11.2.js"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/vendor/rome.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="../js/angular/controladores/precalCtrl.js"></script>

    </body>
</html>
